* {
  font-family: Helvetica,Arial,sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
#root {
  padding: 25px 60px
}
body {
  background-color: black;
}
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
header h1,h2 {
  color: white;
  margin-bottom: 20px;
}
form {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
input {
  width: 70%;
  color: gray;
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-right: 10px;
  height: 35px;
  border-radius: 20px;
  border-width: 0.5px;
}
input:focus-visible {
  outline: none;
}
button {
  height: 40px;
  width: 60px;
  margin-right: 10px;
}
.card-grid {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: gray;
  width: 100%;
}
.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
ul {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.card img {
  height: 200px;
}

.card p {
  padding: 5px;
  text-align: center;
}

@media only screen and (max-width: 740px) {
  #root {
    padding: 0;
  }
}
@media only screen and (max-width: 400px) {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    padding-right: 0;
  }
  .card img {
  }
}